# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
.env/
.env.*
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Logs and databases
*.log

# Unit test / coverage reports
.coverage
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Data / artifacts
data/raw/
data/processed/
artifacts/
*.joblib
*.pkl
*.model
*.png
Thumbs.db